<p>
    <span style="text-align:left;float:left">&copy; 2020 <a
            href="http://themifycloud.com/downloads/janux-free-responsive-admin-dashboard-template/"
            alt="Bootstrap_Metro_Dashboard">Copyright © 2020 The Coffee Study. All rights reserved.</a></span>

</p>