<!-- start: Content -->
<div id="content" class="span10">


    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <i class="icon-edit"></i>
            <a href="#">Forms</a>
        </li>
    </ul>

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header" data-original-title>
                <h2><i class="halflings-icon white edit"></i><span class="break"></span>Form Coffee</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" action="formCoffee_pros" method="POST">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="typeahead">Thêm Danh Mục Coffee</label>
                            <div class="controls">
                                <input type="text" name="txtCate" class="span3 typeahead" id="typeahead">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="reset" class="btn">Cancel</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="box-content">
                <form class="form-horizontal" action="/formCoffee_pro" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="typeahead">Danh Mục Coffee </label>
                            <div class="controls">
                                <select name="selectproduct" id="selectproduct">
                                    <% products.forEach(function(product){ %>
                                        <option value="<%- product._id %>">
                                            <%- product.name %>
                                        </option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="typeahead">Tên Sản Phẩm </label>
                            <div class="controls">
                                <input type="text" name="txtNameProduct" class="span4 typeahead" id="typeahead" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="fileInput">Hình Ảnh Sản Phẩm</label>
                            <div class="controls">
                                <input class="input-file uniform_on" id="fileInput" type="file" name="productImage" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="typeahead">Đơn Giá Sản Phẩm </label>
                            <div class="controls">
                                <input type="text" name="price" class="span3 typeahead" id="typeahead" />
                            </div>
                        </div>
                        <div class="control-group hidden-phone">
                            <label class="control-label" for="textarea2">Giới Thiệu Sản Phẩm</label>
                            <div class="controls">
                                <textarea name="txtproduct" class="cleditor" id="textarea2" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="reset" class="btn">Cancel</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>



</div>