<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        <select name="selectproduct">
            <% pros.forEach(function(pro){ %>
                <option value="<%- pro._id %>">
                    <%- pro.name %>
                </option>
            <%});%> 
        </select>
        <input type="text" name="txtNameProduct"/>
        <input type="file" name="productImage"/>
        <input type="number" name="price"/>
        <input type="text" name="txtproduct"/>
        <input type="submit" name="btn Add" value="Add"/>
    </form>
</body>
</html>